.header {
  background-color: $color-bg;
  &__container {
    grid-template-areas: 'logo search-form menu';
    @include gridable(100%);
    grid-template-columns: max-content 1fr max-content;
    gap: 15px 50px;
    box-sizing: border-box;
    max-width: $max-width;
    justify-items: center;
    justify-content: space-between;
    min-height: 60px;
    height: 100%;
    align-items: center;
    padding: 10px 20px;
    @media screen and (max-width: $desktop) {
      grid-template-columns: max-content max-content;

      grid-template-areas:
        'logo menu'
        'search-form search-form';
    }
  }
  &__menu {
    grid-area: menu;
    @include flexible(100%);
    @include unmarkedList(0, 0);
    font-size: 14px;
    gap: 15px;
    flex-flow: row nowrap;
    @media screen and (max-width: $tablet) {
      position: fixed;
      top: 0;
      right: -320px;
      z-index: 10;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      font-size: 18px;
      background-color: $color-bg;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      &_opened {
        right: 0;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
      }
    }
    &-link {
      @include defaultLink();
      color: $color-white;
      &::after {
        background-color: $color-white;
        display: block;
        content: '';
        height: 2px;
        width: 0%;
        transition: 0.5s ease-in-out;
      }
      &:hover::after,
      &:focus::after {
        width: 100%;
        background-color: red;
      }
    }
    &-button {
      display: none;
      justify-items: right;
      @media screen and (max-width: $tablet) {
        position: relative;
        @include flexible(32px);
        @include button();
        z-index: 20;
        height: 32px;
        padding: 0;
        background-color: transparent;
        background-size: contain;
        border: none;
        border-radius: 0;
      }
    }
  }
}
