.main {
  &__primary-content {
    @include gridable(100%);
    max-width: $max-width;
    box-sizing: border-box;
    padding: 60px 20px;
    gap: 50px;
    grid-template-columns: minmax(280px, 900px) max-content;
    @media screen and (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }
}
