@mixin flexible($width) {
  display: flex;
  width: $width;
}

@mixin gridable($width) {
  display: grid;
  width: $width;
}

@mixin unmarkedList($padding, $margin) {
  list-style-type: none;
  padding: $padding;
  margin: $margin;
}

@mixin defaultLink {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

@mixin hoverLink() {
  &:hover {
    color: $color-link;
  }
}

@mixin button() {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
  }
}

@mixin articleTextPadding() {
  padding-left: 10px;
  padding-right: 10px;
}

@mixin articleTitle() {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  line-height: 1.21;
}
