$max-width: 1280px;
$color-white: #fff;
$color-black: #000;
$color-bg-root: #f9f9f9;
$color-bg: #252525;
$color-decorate-search: #333333;
$color-txt-search: #7e7e7e;
$color-link: #ec2227;
$color-bg-slider: #d8d8d8;
$color-txt-category: #41474a;
$color-border-button: #dfdfdf;

$desktop: 1024px;
$tablet: 768px;
$tablet-small: 640px;
$smartphone: 480px;
