$max-width: 1280px;
$color-white: #fff;
$color-black: #000;
$color-bg: #252525;
$color-decorate-search: #333333;
$color-txt-search: #7e7e7e;
$color-bg-slider: #d8d8d8;

$desktop: 1024px;
$tablet: 720px;
